/* Smartphones (portrait and landscape) ----------- */

.mobilemodals(){
  left: 2.5%;
  width: 95%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.boxes(){
  .item-block {
    width: 97%;
    text-align: left;
    padding: 1.5em 2.5em;

    div:first-child {
      margin-top: 0em;
      display: inline-block;
      width: 7.25em;
      box-shadow: none;

      p{
        span{
          color: #fff;
          font-size: 2.5em;
        }
      }
    }

    .box-label {
      display: inline-block;
      vertical-align: middle;
      padding-left: 1em;
      p:first-child {
        padding: 0;
      }

      p:nth-child(2) {
        padding: 0;
      }
    }
  }
}

.mobile-header(){
  box-shadow: none;
  .headbar-header{
    .headbar-logo{
      width: 7em;
      background: #222;
      display: inline-block;
      .logo{
        padding: 1.75em;
      }
    }

    .header-mobile-menu{
      float: right;
      vertical-align: middle;
      text-align: center;
      color: #fff;
      font-size: 2.5em;
      padding: 0.75em 1em;
      cursor: pointer;

      i:active{
        position: relative;
        top: 2px;
      }
    }

    button {
      background: #222;
      font-size: 2.5em;
      margin: 0;
    }

    button:hover{
      opacity: 0.9;
    }

    button:active{
      position: relative;
      top: 2px;
    }
  }
}

.mobile-menu(){
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #222;
  color: #fff;
  z-index: 4;

  .mobile-menu-title{
    background: #222;

    p{
      padding: 1em;
      text-align: center;
      font-size: 2em;
      font-weight: bold;
      letter-spacing: 1px;
      margin: 0;
    }
  }
  .mobile-profile-link{
    margin: 0em;
    padding: 2em;
    background: #fff;
    color: #333;
    p{
      margin: 0;
    }
    p:first-child{
      font-size: 2em;
    }
    p:nth-child(2){
      font-size: 1.5em;
    }
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      a{
        text-decoration: none;
        color: #fff;

        p{
          font-size: 2em;
          margin: 0;
          padding: 1em;
        }
      }
      border-bottom: 1px solid #111;
    }

    li:hover{
      background: #333;
    }

    li:active{
      position: relative;
      top: 2px;
    }
  }
}

@media screen and (max-width: 320px) and (max-width: 480px) {
  /* Styles */

  .login-container{
    .mobilemodals();
  }

  .signup-container{
    .mobilemodals();
  }

  .home-welcome-container{

    .home-welcome-title {
      padding-bottom: 5em;
      p:first-child {
        font-size: 4em;
      }
    }
  }

  .home-features-container{

    .feature-title{
      font-size: 2.5em;
    }

    .feature-block{
      font-size: 0.85em;
    }
  }

  .headbar {
    .mobile-header();
  }

  .mobile-menu-container{
    .mobile-menu();
  }

  .ngview-section{
    position: relative;
    top: 14em;
    margin: 0em;
    padding: 0em;
  }


  /**** Add Turn Modal ****/
  .add-turn-container {
    .mobilemodals();
  }

  .list-section {
    .mobilemodals();
    max-height: 75%;
  }

  /**** All activities page *****/

  .allactivities-page {
    .all-activities-container {
      .boxes();
    }
  }

  .friends-page {
    .friends-container{
      .boxes();
    }
  }

  .footer-container{
    padding: 1em;
  }
}

@media screen and (max-width: 480px) and (max-width: 640px) {
  /* Styles */

  .login-container{
    .mobilemodals();
  }

  .signup-container{
    .mobilemodals();
  }

  .home-welcome-container{

    .home-welcome-title {
      padding-bottom: 5em;
      p:first-child {
        font-size: 6em;
      }
    }
  }

  .home-features-container{

    .feature-title{
      font-size: 2.5em;
    }

    .feature-block{
      font-size: 0.85em;
    }
  }

  .headbar {
    .mobile-header();
  }

  .mobile-menu-container{
    .mobile-menu();
  }

  .ngview-section{
    position: relative;
    top: 14em;
    margin: 0em;
    padding: 0em;
  }

  /**** Add Turn Modal ****/
  .add-turn-container {
    .mobilemodals();
  }

  .list-section {
    .mobilemodals();
    max-height: 75%;
  }

  /**** All activities page *****/

  .allactivities-page {
    .all-activities-container {
      .boxes();
    }
  }

  .friends-page {
    .friends-container{
      .boxes();
    }
  }

  .footer-container{
    padding: 1em;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  /* Styles */
  body{
    font-size: 75%;
  }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  /* Styles */
}

@media screen and (max-width: 1366px) {
  body{
    font-size: 85%;
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}