<section class="ngview-section" ng-show="userloggedin.value">
    <div ng-controller="friend-Controller" class="wrap">
        <div class="container-fluid friend-page">
            <div class="row">
                <div class="col-md-6 col-lg-5">
                    <section class="profile-section">
                        <div class="profile-background"></div>
                        <div class="profile-details">
                            <div class="profile-icon"><img src="images/svg/avatar.svg" /></div>
                            <p class="profile-name">{{userfriend.name}}</p>
                            <p class="profile-email">{{userfriend.email}}</p>
                        </div>
                    </section>
                    <section class="counter-block">
                        <div class="counter1">
                            <p><span>Activities common with you</span></p>
                            <p>{{friendactivities.length}}</p>
                        </div>
                        <div class="counter2">
                            <p><span>Total turns completed</span></p>
                            <p>{{turncounter}}</p>
                        </div>
                    </section>
                </div>
                <div class="col-md-6 col-lg-7">
                    <section class="profile-list-section">
                        <p class="section-title">Activities</p>
                        <br>
                        <div class="profile-list-block" ng-repeat="activity in friendactivities" >
                            <div class="activity-details">
                                <p>{{activity.name}}</p>
                                <p ng-repeat="member in activity.members | filter: {emailId: userfriend.email}">{{member.count}} turns completed</p>
                                <p><span ng-class="activity.icon"></span> </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $('#dashboard').removeClass("side-menu-active");
    $('#activities').removeClass("side-menu-active");
    $('#friends').addClass("side-menu-active");
    $('#settings').removeClass("side-menu-active");

    document.getElementById("page-title").innerHTML = "Friend";
    $('#activities-menu').hide();

</script>