<section>
    <div class="home-welcome-container">
        <div class="home-welcome-title">
            <p>welcome to <span>turns</span></p>
            <p>count turns with your friends</p>
            <img src="images/chromedashboard.png" />
        </div>
    </div>
    <div class="home-features-container">
        <p class="feature-title">Easiest way to track your turns</p>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-block">
                        <p><span class="icon-home2"></span> </p>
                        <p>Dashboard</p>
                        <p>Dashboard contians notifications for the user regarding his turns on that day.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-block">
                        <p><span class="icon-rocket3"></span> </p>
                        <p>Activities</p>
                        <p>Create activities to log your turns. You can add as many activities as possible.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-block">
                        <p><span class="icon-user2"></span> </p>
                        <p>Friends</p>
                        <p>Add friends to the activities to see the turns of your friends as-well</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-responsive">
        <p class="responsive-title">Your application will works no matter where you are</p>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="responsive-block">
                        <p><span class="icon-mobile"></span></p>
                        <p>Mobile</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="responsive-block">
                        <p><span class="icon-tablet"></span></p>
                        <p>Tablet</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="responsive-block">
                        <p><span class="icon-screen"></span></p>
                        <p>Desktop</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-buttons">
        Start logging your turns
        <button>Login</button>
        <button>Sign Up</button>
    </div>
</section>