<!-- Login -->
<section class="main-login-container">
    <div class="inner-login-container" ng-controller="login-Controller">
        <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
            <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
            <div class="form-title clearfix">
                <p>Sign in</p>
            </div>
            <br>
            <br>
            <!-- EMAIL -->
            <div class="form-group">
                <input type="email" name="email" class="login-field" id="email-field" placeholder="Email Address" ng-model="user.email" required>
                <p ng-show="userForm.email.$error.required && !userForm.email.$pristine" class="login-error">Email is required <span class="icon-x"></span>
                </p>
                <p ng-show="userForm.email.$error.email && !userForm.email.$pristine" class="login-error">Email is invalid <span class="icon-x"></span>
                </p>
            </div>
            <!-- PASWWORD -->
            <div class="form-group">
                <input type="password" name="password" class="login-field" id="password-field" placeholder="Password" ng-model="user.password" required>
                <p ng-show="userForm.password.$error.required && !userForm.password.$pristine" class="login-error">Password is required <span class="icon-x"></span>
                </p>
            </div>

            <div class="invalid-login" ng-show="loginerror"><span class="icon-x"></span> Invalid Credentials</div>

            <!-- SUBMIT BUTTON -->
            <button ng-hide="loading" type="submit" class="form-bttn" ng-disabled="userForm.$invalid">Submit</button>
            <button ng-show="loading" class="bttn-submitting"><i class="fa fa-spinner fa-spin"></i> Signing in..</button>
            {{response}}
        </form>
    </div>
</section>